{% extends 'base.html' %} {% block content %}

<div class="form-content">
  <h1 id="form-title">Student Portal Form</h1>
  <p id="form-desc">Please fill in all required information</p>
  <p id="personal-info">Personal information</p>
  <form action="" method="POST" enctype="multipart/form-data">
    <div class="container">
      <div class="box1">
        <label for="name">Upload Image:</label>
        <input type="file" id="image" name="image" /><br /><br />
        <label for="fname">FirstName:</label>
        <input type="text" id="fname" name="fname" required /><br /><br />

        <label for="lname">LastName:</label>
        <input type="text" id="lname" name="lname" required /><br /><br />

        <label for="DOB">Date of Birth:</label>
        <input type="date" id="DOB" name="DOB" required /><br /><br />

        <label for="phone">Phone Number:</label>
        <input type="tel" id="phone" name="phone" required /><br /><br />

        <label for="state_of_origin">State Of Origin:</label>
        <select name="state_of_origin" id="state_of_origin" required>
          <br /><br />
          <option value="">Select</option>
          <option value="">Select</option>
        </select>

        <label for="next_of_kin">Next of Kin:</label>
        <input
          type="text"
          id="next_of_kin"
          name="next_of_kin"
          required
        /><br /><br />
      </div>

      <div class="box2">
        <label for="mname">Middle Name:</label><br />
        <input type="text" id="mname" name="mname" /><br /><br />

        <label for="email">Email:</label><br />
        <input type="email" id="email" name="email" required /><br /><br />

        <label for="gender_male">Male:</label>
        <input
          type="radio"
          id="gender_male"
          name="sex"
          value="Male"
          required
        /><br />

        <label for="gender_female">Female:</label>
        <input
          type="radio"
          id="gender_female"
          name="sex"
          value="Female"
          required
        /><br /><br />

        <label for="address">Address:</label><br />
        <textarea id="address" name="address" required></textarea><br /><br />

        <label for="nationality">Local Department:</label><br />
        <select name="local_department" id="local_department" required>
          <br /><br />
          <option value="">Select</option>
          <option value="">Select</option>
        </select>
      </div>
    </div>
    <p id="personal-info">Academic Related Information</p>

    <label for="Score">Student Score:</label>
    <input type="number" id="Score" name="Score" required /><br /><br />

    <button type="submit" id="submit-btn">Submit</button>
  </form>
</div>
<script src="{{ url_for('static', filename='js/form.js') }}"></script>
{% endblock %}
